---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.total_pages > 1 %}
  <nav class="pagination">
    {% if paginator.previous_page %}
      <a class="pagination-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&larr; newer</a>
    {% else %}
      <span class="pagination-link pagination-disabled">&larr; newer</span>
    {% endif %}

    <span class="pagination-info">
      {{ paginator.page }} / {{ paginator.total_pages }}
    </span>

    {% if paginator.next_page %}
      <a class="pagination-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}">older &rarr;</a>
    {% else %}
      <span class="pagination-link pagination-disabled">older &rarr;</span>
    {% endif %}
  </nav>
  {% endif %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
